.row {
    margin:4px, 4px;
    padding:4px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}
.b2, .b3, .b4 {
    display:inline-block;
    position: center;
    margin: 5px;
    float:left;
    width:25%;
    height:300px;
    background-color: white;
 }
 .col {
     align-items: center;
     display: flex;
    justify-content: space-around;
    align-items: center;
 }

 * {
    margin: 0;
    padding: 0;
}
#banner{
    width: 100%;
    position: fixed;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: aqua;
}
#try {
    display: flex;
    height: 40px;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: gray;
}
#navbar ul{
    width: 100%;
}
main{
    display: flex;
}
#main-content {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    left: 50px;
    height: 400px;
    width: 100%;
    background-color: aquamarine;
}
.b1{
    display:inline-block;
    position: relative;
    align-items:center;
    margin: 5px;
    width:50%;
    height:400px;
    background-clip: border-box;
 }
#sidebar ul{
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 100px;
    height: 2000px;
    list-style-type: none;
    font-weight:bold;
    background-color:gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#sidebar li{
    margin: 20px;
}
footer {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
clapclap
coração
cool_parrot










